@import "tailwindcss";

@font-face{
  font-family: font1;
  src: url(../public/NeueMontreal-Regular.ttf);   
}
@font-face{
  font-family: font2;
  src: url(../public/FoundersGrotesk-Semibold.ttf);   
}


.marquee-container {
    animation: marquee 10s linear 0s infinite;
  }


@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}